@use '../../../../styles/vars' as *;

.NotesList {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  .divider {
    font-size: $fs-small;
    font-weight: 200;
  }
  .content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: $gap-regular;
    max-width: 500px;
    width: 100%;

    @media (max-width: $breakpoint-sm) {
      top: 10%;
    }

    .notes {
      display: flex;
      flex-direction: column;
      gap: $gap-regular;
      font-size: $fs-small;
      font-weight: 200;
      .note {
        display: flex;
        .note_id {
          font-weight: 400;
          color: $secondary-text;
          width: 3ch;
        }
        span {
          color: $tertiary-text;
        }
        a {
          text-transform: lowercase;
        }
      }
    }
  }
}
