$aspekta-font-path: '/fonts/Aspekta';

@mixin aspekta-font($weight, $filename) {
  @font-face {
    font-family: 'Aspekta';
    src: url('#{$aspekta-font-path}/#{$filename}.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
  }
}

@include aspekta-font(200, 'Aspekta-200');
@include aspekta-font(300, 'Aspekta-300');
@include aspekta-font(400, 'Aspekta-400');
@include aspekta-font(500, 'Aspekta-500');
@include aspekta-font(600, 'Aspekta-600');
@include aspekta-font(700, 'Aspekta-700');
@include aspekta-font(800, 'Aspekta-800');
@include aspekta-font(900, 'Aspekta-900');
