@use '../../../../styles/vars' as *;

.Projects {
  margin-top: $gap-xl;
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    .projects_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap-3xl;
      max-width: 60%;

      .project {
        max-width: 800px;

        .head {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          padding: $gap-medium $gap-large;
        }

        a {
          &:hover {
            .images {
              transform: scale(1.015);
            }
          }
        }
        .images {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: $gap-regular;
          padding: $gap-large;
          border: 1px solid $tertiary-text;
          border-radius: 36px;
          // transform: translateY(20px);
          .image {
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;

            img {
              width: 100%;
              display: block;
              object-fit: contain;
            }
          }
          &.visibleImages {
            opacity: 1;
            transform: translateY(0);

            .image {
              opacity: 1;
            }
          }
        }
      }

      @media (max-width: $breakpoint-sm) {
        max-width: 75%;
      }
    }
  }
}
