@use '../../../../styles/vars' as *;

.Projects {
  margin-top: $gap-xl;
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    .projects_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap-3xl;
      max-width: 60%;

      .project {
        max-width: 800px;

        .head {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          padding: $gap-medium $gap-large;

          p {
            width: fit-content;
          }

          .title,
          .tagline {
            overflow: hidden; /* Hide letters before animation */
            display: inline-block;

            .letterTitle,
            .letterTagline {
              opacity: 0;
              display: inline-block;
              transition: opacity 0.5s ease, transform 0.5s ease;
            }

            .letterTitle {
              transition-delay: calc(0.03s * var(--index));
            }

            .letterTagline {
              transition-delay: calc(0.03s * var(--index) + 0.5s);
            }
          }
        }

        &.visible {
          .title,
          .tagline {
            .letterTitle,
            .letterTagline {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

        .images {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: $gap-regular;
          padding: $gap-large;
          border: 1px solid $tertiary-text;
          border-radius: 36px;
          opacity: 0;
          // transform: translateY(20px);
          transition: opacity 2s ease, transform 2s ease;
          .image {
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            opacity: 0;
            transition: opacity 2s ease;

            img {
              width: 100%;
              display: block;
              object-fit: contain;
            }
          }
          &.visibleImages {
            opacity: 1;
            transform: translateY(0);

            .image {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
