@use '../../../../styles/vars' as *;

:root {
  --horizontal-padding: #{$gap-large}; // default
}

@media (max-width: $breakpoint-md) {
  :root {
    --horizontal-padding: #{$gap-medium};
  }
}
@media (max-width: $breakpoint-sm) {
  :root {
    --horizontal-padding: #{$gap-small};
  }
}

.Projects {
  margin-top: $gap-xl;
  width: 100%;

  $left-padding: $gap-small;

  @media (max-width: $breakpoint-sm) {
    margin-top: $gap-3xl;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    .projects_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap-3xl;
      max-width: 65%;

      .project {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        row-gap: $gap-regular;
        justify-content: space-between;

        .title_text {
          padding-left: var(--horizontal-padding);
        }
        .tagline_text {
          padding-right: var(--horizontal-padding);
        }

        @media (max-width: $breakpoint-md) {
          flex-direction: column;
          row-gap: $gap-small;

          .title_text {
            order: 1;
          }
          .tagline_text {
            order: 3;
            padding-left: var(--horizontal-padding);
            text-align: start;
            align-items: flex-start;
          }
          .imageLink {
            order: 2;
          }
        }

        .head {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
          padding: $gap-medium var(--horizontal-padding);
        }

        a {
          &:hover {
            .images {
              transform: scale(1.015);
            }
          }
        }
        .images {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: $gap-regular;
          padding: var(--horizontal-padding);
          border: 1px solid $border-color;
          border-radius: 36px;
          // transform: translateY(20px);
          .image {
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;

            img {
              width: 100%;
              display: block;
              object-fit: contain;
            }
          }
          &.visibleImages {
            opacity: 1;
            transform: translateY(0);

            .image {
              opacity: 1;
            }
          }
        }
      }
      @media (max-width: $breakpoint-lg) {
        max-width: 70%;
        .project {
          .images {
          }
        }
      }
      @media (max-width: $breakpoint-md) {
        max-width: 80%;
        .project {
          .images {
            padding: $gap-small;
            border-radius: 16px;
            gap: $gap-small;
          }
        }
      }
      @media (max-width: $breakpoint-sm) {
        max-width: 90%;
        gap: calc($gap-3xl * 2);
        .project {
          .images {
            padding: $gap-tiny;
            border-radius: 12px;
            gap: $gap-tiny;
          }
        }
      }
    }
  }
}
