@use '../../../styles/_vars.scss' as *;

.page_not_found {
  width: 100%;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $gap-large;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    h1 {
      font-size: $fs-medium;
      font-weight: 500;
      color: $secondary-text;
    }
    a {
      font-size: $fs-small;
      font-weight: 200;
      text-decoration: underline;
    }
  }
}
