@use '../../../../styles/vars' as *;
@use 'sass:math';

:root {
  --left-line-displacement: #{$left-line-displacement-xl}; // default
  --top-lines-gap: #{$top-lines-gap-lg}; // default
}

@media (max-width: $page-break-lg) {
  :root {
    --left-line-displacement: #{$left-line-displacement-lg};
  }
}
@media (max-width: $page-break-md) {
  :root {
    --left-line-displacement: #{$left-line-displacement-md};
  }
}
@media (max-width: $page-break-sm) {
  :root {
    --left-line-displacement: #{$left-line-displacement-sm};
    --top-lines-gap: #{$top-lines-gap-sm};
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
  width: 100%;

  // .content {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100%;
  // width: 100%;

  h1 {
    position: absolute;
    top: $page-padding;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
  }

  .overlapping_logo {
    position: absolute;
    // top: calc(50% - 40px);
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    // margin-bottom: $gap-xl;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      user-select: none;
      pointer-events: none;
    }
  }
  // }

  .lines {
    span {
      position: absolute;
      background: $tertiary-text;
    }
    .line1 {
      top: var(--top-lines-gap);
      height: 1px;
      left: 66.66666%;
      width: 33.33334%;
    }
    .line2 {
      top: var(--top-lines-gap);
      height: 1px;
      left: var(--left-line-displacement);
      width: calc(
        16.66667% + ($left-line-displacement-lg - var(--left-line-displacement))
      );
    }
    .line3 {
      top: var(--top-lines-gap);
      width: 1px;
      height: 16%;
      left: var(--left-line-displacement);
    }
    .line4 {
      top: $page-line-top-displacement;
      width: 1px;
      // height: 10000px;
      left: var(--left-line-displacement);
      z-index: -1;
      pointer-events: none;
    }
    .arrows {
      $arrow-width: 12px;
      span {
        width: $arrow-width;
        height: 1px;
        bottom: $gap-large;
      }
      $left-arrow: calc(var(--left-line-displacement) - 11px);
      $right-arrow: calc(var(--left-line-displacement));
      .v1,
      .v3,
      .v5 {
        left: $left-arrow;
        transform: rotate(45deg);
        transform-origin: right center;
      }
      .v2,
      .v4,
      .v6 {
        left: $right-arrow;
        transform: rotate(-45deg);
        transform-origin: left center;
      }
      .v3,
      .v4 {
        bottom: $gap-large - $gap-tiny;
      }
      .v5,
      .v6 {
        bottom: $gap-large - ($gap-tiny * 2);
      }
    }
  }
  .links {
    .notes,
    .projects {
      position: absolute;
      left: calc(var(--left-line-displacement) - 24px);
      text-align: center;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      line-height: 1.3;

      &:hover {
        color: $primary-text;
      }
    }

    .notes {
      top: calc(var(--top-lines-gap) + 2%);
    }
    .projects {
      bottom: $gap-large + 12px + 10px;
      // bottom: 12.5%;
    }
    .logo {
      position: absolute;
      left: $page-padding;
      top: calc(50%);
      height: 30px;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        user-select: none;
        pointer-events: none;
      }
    }

    @media (max-width: $page-break-lg) {
      a {
        line-height: 1.2;
      }
      .logo {
        left: var(--left-line-displacement);
        transform: translateX(-50%);
      }
    }
    @media (max-width: $page-break-md) {
      .notes,
      .projects {
        left: calc(var(--left-line-displacement) - 16px);
      }
    }
    @media (max-width: $page-break-sm) {
      .notes,
      .projects {
        left: calc(var(--left-line-displacement) + 16px);
      }
      .notes {
        top: calc(var(--top-lines-gap) + 1%);
      }
      .logo {
        left: 24px;
      }
    }
  }

  @media (max-width: $page-break-sm) {
    .content {
      .overlapping_logo {
        // margin-bottom: 40px;
        margin: 0;
        transform: translateY(50%);
      }
    }
    .lines {
      .line3 {
        height: 20%;
      }
    }
    .links {
      .notes {
        top: calc(var(--top-lines-gap) + 4%);
      }
      .logo {
        // top: calc(50% - 10px);
        // transform: translateY(-50%);

        // transform: translateY(-50%);
      }
    }
  }

  .mid_line {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    background: red;
  }
}
