.letter {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: calc(0.02s * var(--index));
}
.animated_text {
  overflow: hidden; /* Hide letters before animation */
  display: inline-block;

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{($i - 10) * 10}s;
    }
  }
}

.visible {
  .letter {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--index) * 0.02s);
  }
}
